<footer>
    <div class="footer">
     <div class="container">
        <div class="row">
            <div class="col-md-8">
              <p><img src="/img/codeartfooter.png" style="max-width: 100px;"></p>
              <p>Après avoir appris sur Internet quoi de plus normal que de partager à son tour ? Passionné par le web depuis un peu plus de 16 ans maintenant j'aime partager mes compétences et mes découvertes avec les personnes qui ont cette même passion pour le web</p>
              <a href="" class="facebook-icon"><img src="/img/facebook.png"></a>
              <a href="" class="facebook-icon"><img src="/img/youtube.png"></a>
              <a href="" class="facebook-icon"><img src="/img/github.png"></a>
            </div>
            <div class="col-md-4">
              <h4>Me contacter</h4>
              <div class="contact_footer">
              <div><span><i class="fa fa-envelope"></i> par mail</span></div>
              <div><span><i class="fa fa-youtube"></i> chaine youtube</span></div>
              <div><span><i class="fa fa-info"></i> A propos</span></div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </footer>